@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&display=swap");
@import "tailwindcss";

:root {
  --primary: rgba(104, 240, 255, 0.3);
  --primary-faint: rgba(104, 240, 255, 0.08);
  --primary-medium: rgba(104, 240, 255, 0.18);
  --primary-strong: rgba(104, 240, 255, 0.55);
  --primary-full: rgb(104, 240, 255);

  --text: rgba(255, 255, 255, 0.92);
  --text-muted: rgba(255, 255, 255, 0.55);

  --warning: rgb(255, 210, 60);
  --danger: rgb(255, 95, 95);

  font-size: 16px;
}

@media (max-width: 1199px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 599px) {
  :root {
    font-size: 11px;
  }
  .lucide-icon {
    max-height: 16px;
    max-width: 16px;
  }
}
@media (max-height: 599px) {
  :root {
    font-size: 11px;
  }
  .lucide-icon {
    max-height: 16px;
    max-width: 16px;
  }
}

@media (max-width: 400px) {
  :root {
    font-size: 10px;
  }
}

@media (max-height: 400px) {
  :root {
    font-size: 10px;
  }
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  font-family: "Oxanium", "Inter", Verdana, Geneva, Tahoma, sans-serif;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  background: var(--primary);
}

html,
body,
canvas {
  touch-action: none;
}
